@model TheRideYouRent1.Models.Inspector

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inspector</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InspectorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspectorEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectorEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspectorMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspectorMobile)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InspectorNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
